#ask{
  font-weight: 300;
}

#jawaban {
  text-align: center;
}

#wrapall {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 60vh;
}

#next {
  display: block;
  border: none;
  outline: none;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}

.button:disabled {
  background-color: black;
  opacity: .3;
}

.button {
  background-color: orange;
  width: fit-content;
  height: fit-content;
  color: white;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #157A6E;
  transition: .5s;
  cursor: pointer;
}

#option button {
  margin: 5px;
}

#option {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 60vh;
  width: 90vw;
}

#body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #C2C5BB;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}