

.showcat{
  height: 0px;
  width: 100vw;
  background-color: #1A936F;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  bottom: 0;
  position: relative;
  transition: .5s;
  display : flex; 
  align-items : center; 
  justify-content: space-evenly;
  flex-direction: column;
}
.header{
  height: 10vh;
  display : flex; 
  align-items : center; 
  justify-content: center;
}

.category p:hover{
  cursor: pointer;
}

.category{
  height: fit-content;
  width: 100vw;
  position: fixed;
  font-size: .9em;
  bottom: 0;
  display : flex; 
  align-items : center; 
  justify-content: space-between;
  flex-direction: column;
}

h1{
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
}
.descc{
  font-weight: 300;
  font-size: 1.1em;
}
#ask{
  font-weight: 300;
  font-size: 1em;
}

#jawaban {
  text-align: center;
  font-weight: 400;
  font-size: large;
}

#wrapall {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

#next:hover{
  transform: scale(1.02);
  box-shadow: 0px 0px 2px gray;
}

#next {
  display: block;
  border: none;
  outline: none;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  background-color: #114B5F;
  color: white;
}

.button:disabled {
  background-color: black;
  opacity: .3;
}

.button:hover{
  transform: scale(1.02);
}

.button {
  background-color: orange;
  width: fit-content;
  height: fit-content;
  color: #F3E9D2;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #114B5F;
  /* transition: .2s; */
  cursor: pointer;
}

#option button {
  margin: 5px;
}

#option {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 60vh;
  width: 90vw;
}

#body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-color: #88D498;
}

@media screen and (min-width: 475px) {
  
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}